# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Safety
secret_*
dev_test/